@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slideIn {
  animation: slideIn 1.5s ease-out;
}

@keyframes grow {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-grow {
  animation: grow 1.5s ease-in-out;
}

@keyframes widthGrow {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
.animate-widthGrow {
  animation: widthGrow 2s ease-in-out forwards;
}

